@font-face {
  font-family: regular;
  src: url(./font/regular.otf);
}

@font-face {
    font-family: bold;
    src: url(./font/bold.otf);
}

html{
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./image/background.jpg");
  background-size: cover;
  color: #171717;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

*{
  smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
  font-weight: 100;
}

h1 {
  font-family: bold;
  font-size: 81px;
  text-transform: uppercase;
  letter-spacing: 15px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 33px;
}

h2 {
  font-family: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
}

h3 {
  font-family: regular;
  font-size: 16px;
  color: #404040;
  margin-top: 5px;
}

h4 {
  font-family: regular;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 34px;
  left: 40px;
  margin: 0;
}

h5 {
  font-family: regular;
  font-size: 14px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateX(-50%) translateY(-50%); /* IE 9 */
          transform: translateX(-50%) translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
}

.link-container {
  position: absolute;
  top: 40px;
  right: 25px;
  width: 503px;
}

.skill-container {
  position: absolute;
  bottom: 26px;
  right: 25px;
  margin: 0;
  width: 503px;
}

.list {
  display: inline-block;
  width: 165px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 8px;
}

a {
  color: #171717;
  font-family: regular;
  font-size: 13px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
    letter-spacing: 13px;
        margin-left: 5px;
  }

  h4 {
    right: 0;
    left: 0;
    margin: auto;
  }

  .link-container {
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
  }

  .skill-container {
    width: 100%;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .list {
    width: 100px;
    text-align: center;
  }

}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    letter-spacing: 12px;
  }
}

/* Landscape */
/* Landscape */
@media only screen

  and (max-device-width: 667px)
  and (orientation: landscape) {

    h1{
      font-size: 35px;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 5px;
    }

    h4 {
      bottom: 8px;
    }

    .wrapper {
        top: 45%;
    }

    .link-container {
      top: 8px;
    }

    .skill-container {
      bottom: 35px;
    }


}
